.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.button-container {
  text-align: right !important;
  margin-right: 1px;
}

.user-selectin-button {
  height: 30px;
}

.login-register-card {
  margin: auto;
  margin-top: 50px;
  max-width: 400px;
}

.toggle-group {
  margin-top: 10px;
}
