.button-container {
    float: right;
    margin-left: auto;
    margin-right: 0;
}

.reservation-header {
    width: 100%;
}

.chip-container {
    margin-left:auto;
    margin-right: 0;
}

.mat-chip-category { 
    background-color: #40ff74;
    color: #fff;
}

.id-header {
    margin-right: 10px;
}

.mat-expansion-panel {
    margin-right: 10px;
    margin-left: 10px;
}

.subtable {
    background-color: #F0f0f0;
}

.res-title {
    font-size: 18px;
}

.update-button {
    margin-right: 10px !important;
}